#work-responses{
  display: none;
}
#fun-responses{
  display: none;
}

p{
  font-size: 20px;
  color: green;
}
h2{
  color: darkgreen;
}
#transportation_survey {
  color: green;
}
#work-responses {
  color: blue;
}
#fun-responses {
  color: purple;
}
